<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoccerTour</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="../public/js/signup.js"></script>
</head>
<body>
	<section>
		<div class="pictureContainer">
			<img src="img/homePicture.jpg" alt="soccermatch">
			<div class="topleft">Soccer Meet</div>

			<div class="topright">
				Login/Signup
			</div>
		</div>

		<div class="descriptionSection">

			<div class="appDescription">
				<p> Welcome to SoccerMeet! This site invites soccer fanatics to create or join soccer groups which schedules pick-up games. In addition, you can schedule matches with other local soccer teams. </p>
			</div>

			<div class="creators">
				<p>Image here!!!!</p>
			</div>
		</div>
	</section>

	<footer>
		<h4>Footer</h4>
	</footer>
</body>
</html>