<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoccerTour</title>
	<link rel="stylesheet" type="text/css" href="css/signup.css">
	<script src="../public/js/signup.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<h1>SoccerMeet</h1>
		</div>
		<div class="navMenu">
			<ul>
				<li><a href="signup">Sign up</a></li>
				<li>Log in</li>
			</ul>
		</div>
	</header>

	<section>
		<h1>Welcome people and <%= text %> </h1>
	</section>

	<footer>
		<h4>Footer</h4>
	</footer>
</body>
</html>