<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoccerTour</title>
	<link rel="stylesheet" type="text/css" href="css/homepage.css">
	<script src="../public/js/signup.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<h1>SoccerMeet</h1>
		</div>
		<div class="navMenu">
			<ul>
				<li>
					<!-- <a href="/search">Search</a> -->
					<form method="GET" action="/groupInfo"> <!--Create a page for each group-->
					  <input type="text" name="search" placeholder="Search..">
					</form>
				</li>
				<li><a href="/notification">Notifications</a></li>
				<li><a href="/group">Group</a></li>
				<li><a href="/logout">Log out</a></li>
			</ul>
		</div>
	</header>

	<section>
		<h1>Profile page in process... <%= username %></h1>
	</section>

	<footer>
		<h4>Footer</h4>
	</footer>
</body>
</html>