<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SoccerTour</title>
	<link rel="stylesheet" type="text/css" href="css/signup.css">

	<script src="../public/js/signup.js"></script>
</head>
<body>
	<header>
		<div class="logo">
			<h1>SoccerMeet</h1>
		</div>
		<div class="navMenu">
			<ul>
				<li>Login</li>
			</ul>
		</div>
	</header>

	<section>
		<div class="centerTitle">
			<h2>Sign Up</h2>
		</div>
		<div class="centerInfo">
			<form method="GET" action="/homepage">
				<div class="username">
					<label for="username">Username</label>
				</div>
				<div class="usernameInput">
					<input type="text" name="username">
				</div>
				<div class="password">
					<label for="password">Password</label>
				</div>
				<div class="passwordInput">
					<input type="password" name="password">
				</div>
				<div class="button">
					<input type="submit" value="submit">
				</div>
			</form>
		</div>

	</section>

	<footer>
		<h4>Footer</h4>
	</footer>
</body>
</html>