body{
	background-color: lightgray;
	margin: 0px;
	padding: 0px;
}

section{
	background-color: black;
	color: white;
	font-style: bold;
}

img{
	width: 100%;
	height: auto;
	opacity: .8;
}

.pictureContainer{
	position: relative;
}

.topleft {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 40px;
}

.topright {
  position: absolute;
  top: 10px;
  right: 16px;
}

.login{
	display: inline;
}

.signup{
	display: inline;
}

a {
	color: white;
	text-decoration: none;
}

.descriptionSection{
	display: flex;
}

.appDescription{
	padding: 0px 50px 50px 50px;
	font-size: 20px;
}

.creators{
	margin-left: 50px;
	margin-right: 200px;
}

footer{
	background-color: black;
	color: white;
	padding: 50px 0px 50px 50px;
}

